<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		table
		{
			background-color: gray;
			color:blue;
			width: 700px;

		}
        table th
        {
        	background-color: black;
        	color:white;
        	font-size: 25px;
        }
	</style>
	<script>
		function showdata(a)
		{
          xmlhttp = new XMLHttpRequest();
          xmlhttp.onreadystatechange=function()
          {
          document.getElementById("res").innerHTML = xmlhttp.responseText;  
          }
          xmlhttp.open("GET","viewstudent1?q="+a,true);
          xmlhttp.send();

		}

	</script>
</head>
<body>

<center>
	<h1>View ALL STudent Record</h1>
Type any key to search record:-<input type="text"  onkeyup="showdata(this.value)" />
<br>
<br>
<div id="res">	
<table border="1">
	<tr><th>ID</th><th>Rno</th><th>Sname</th><th>Branch</th><th>Fees</th></tr>
{% for data in s   %}

<tr>
<td>{{data.id}}</td>	
<td>{{data.rno}}</td>
<td> {{data.name}}</td>
<td> {{data.branch}} 
</td><td> {{data.fees}}</td>
<td><a href="editstudent?q={{data.id}}">Edit</a></td><td><a href="deletestudent?q={{data.id}}">Delete</a></td>
</tr>

{% endfor %}
</table>
</div>
</center>
</body>
</html>