<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Welcome in LOGIN APP</h1>
<form action="regcode" method="post">
{% csrf_token %}
<input type="text" name="txtuser" placeholder="Enter username"/>
<br>
<br>
<input type="password" name="txtpass" placeholder="Enter password" />
<br>
<br>
<input type="text" name="txtemail" placeholder="Enter email" />
<br>
<br>
<input type="text" name="txtmobile" placeholder="Enter mobile" />
<br>
<br>
<input type="submit" name="btnsubmit" value="Register" />

</form>
{{key}}
<br>
<a href="/loginapp">Login  HERE</a>


</body>
</html>