<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
	    *{
	    	margin:0px;
	    }
		header
		{
			height: 100px;
			background-color: cyan;
		}
        header ul li
        {
        	display: inline-block;
        	margin-left: 10px;
        	margin-top: 10px;
        }

		section
		{
			height: 500px;
			background-color: gray;
		}
		footer
		{
			height: 100px;
			background-color: cyan;
		}


	</style>
</head>
<body>
	<header>
<ul><li><a href="home">Home</a></li><li><a href="about">About us</a></li><li><a href="ser">Services</a></li><li><a href="contact">Contact us</a></li></ul>
	</header>
	<section>
		<h1>Welcome in Services Page</h1>
	</section>
	<footer>

	</footer>

</body>
</html>